# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Django
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Migrations (optional)
# */migrations/*
# !*/migrations/__init__.py

# Media files (optional)
# media/        
media/

# htmlcov (coverage reports)
htmlcov/
.coverage

# .env file for environment variables
.env